<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Best Restaurants in Town</h1>
            </div>

            <form action="/cuisines" method="post">
                <label for="name">Cuisine type:</label>
                <input type="text" name="name">
                <button class="btn btn-success" type="submit" name="button">Add!</button>
            </form>
            <ul>
                {% for cuisine in cuisines %}
                <h4><a class="restaurant_names" href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a></h4>
                {% endfor %}
            </ul>

            <form action='/delete_cuisines' method='post'>
                <button class="btn btn-danger" type='submit'>Delete ALL the cuisines</button>
            </form>
        </div>



    </body>
</html>
